body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-gray: #3c2a21;
  --color-beige: #e5e5cb;
  --color-black: #000;

  /* Border radiuses */
  --br-xl: 20px;
  --br-21xl: 40px;
}
